<p-menubar>
    <div *ngIf="userLogin">
        <img src="{{ (userLogin.profileImage !== null) ? userLogin.profileImage : '' }}" style="margin-bottom: -10px;" height="30">
        {{userLogin.username}} {{userLogin.email? '('+userLogin.email+')' : ''}}
        <button pButton label="Logout" icon="fa-sign-out" (click)="logout()"></button>
    </div>
</p-menubar>
<br>
<p-dataView #dv [value]="users" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand">
<p-header>
    <div class="ui-helper-clearfix">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12" style="text-align:right">
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </div>
    </div>
</p-header>
<ng-template let-user pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-3" style="text-align:center">
            <img src="{{ (user.profileImage !== null) ? user.profileImage : '' }}"  height="70">
        </div>
        <div class="ui-g-12 ui-md-8">
            <div class="ui-g">
                <div class="ui-g-2 ui-sm-6"><b>Username: </b></div>
                <div class="ui-g-10 ui-sm-6">{{user.username}}</div>

                <div class="ui-g-2 ui-sm-6"><b>Email: </b></div>
                <div class="ui-g-10 ui-sm-6" *ngIf="user.email">{{user.email}}</div>
                <div class="ui-g-10 ui-sm-6" *ngIf="!user.email"  style="color: red !important;">no email</div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template let-user pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="user.username" [style]="{'text-align':'center'}">
            <img src="{{ (user.profileImage !== null) ? user.profileImage : '' }}" height="70">
            <div *ngIf="user.email">{{user.email}}</div>
            <div *ngIf="!user.email"  style="color: red !important;">no email</div>
            <hr class="ui-widget-content" style="border-top:0">
        </p-panel>
    </div>
</ng-template>
</p-dataView>

