<div class="login-card">
  <h1>Sign up</h1><br>
  <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">

          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <input pInputText type="text" pKeyFilter="alphanum" formControlName="username" placeholder="Username">
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!signupForm.controls['username'].valid&&signupForm.controls['username'].dirty">
                    <i class="fa fa-close"></i>
                    Username is required
                </div>
            </div>
          </div>
          
          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <input pInputText type="password" formControlName="password" placeholder="Password">
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!signupForm.controls['password'].valid&&signupForm.controls['password'].dirty">
                    <i class="fa fa-close"></i>
                    Password is required
                </div>
            </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <input pInputText type="password" formControlName="confirmPassword" placeholder="Confirm Password">
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="signupForm.controls['confirmPassword'].invalid&&signupForm.controls['confirmPassword'].dirty">
                    <i class="fa fa-close"></i>
                    <div *ngIf="signupForm.controls['confirmPassword'].hasError('nomatch');else other_error">
                        Confirm Password do not match
                    </div>
                    <ng-template #other_error>Confirm Password is required</ng-template>
                    
                </div>
               <!--  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="signupForm.controls['confirmPassword'].hasError('nomatch')">
                    <i class="fa fa-close"></i>
                    
                </div> -->
            </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <input pInputText type="text" formControlName="email" placeholder="Email">
              </div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <div class="ui-message ui-messages-error ui-corner-all" [pKeyFilter]="emailFilter" *ngIf="!signupForm.controls['email'].valid&&signupForm.controls['email'].dirty">
                      <i class="fa fa-close"></i>
                      Email is required
                  </div>
              </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <p-fileUpload mode="basic" accept="image/*" maxFileSize="1000000" chooseLabel="Choose Image Profile" (onSelect)="onSelectImage($event)"></p-fileUpload>
                </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <button pButton type="submit" label="Register" [disabled]="!signupForm.valid||!fileImage"></button>
              </div>
          </div>
    </div>
    
  </form>

  <div class="login-help">
      <a routerLink="/login">Back</a>
  </div>
</div>