<div class="login-card">
  <h1>Login</h1><br>
  <p-messages [(value)]="msgs"></p-messages><br>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <input pInputText type="text" formControlName="username" placeholder="Username">
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!loginForm.controls['username'].valid&&loginForm.controls['username'].dirty">
                    <i class="fa fa-close"></i>
                    Username is required
                </div>
            </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <input pInputText type="password" formControlName="password" placeholder="Password">
              </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!loginForm.controls['password'].valid&&loginForm.controls['password'].dirty">
                    <i class="fa fa-close"></i>
                    Password is required
                </div>
            </div>
          </div>

          <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                  <button pButton type="submit" label="Login" [disabled]="!loginForm.valid"></button>
              </div>
          </div>
    </div>
    
  </form>

  <div class="login-help">
      <a routerLink="/signup">Sign up</a>
  </div>
</div>
